CheatSheet1.pdf
CheatSheet2.pdf
CheatSheet3.pdf
Heart Disease/__pycache__/output_page.cpython-39.pyc
Heart Disease/bulk_test_results.csv
Lung Cancer/__pycache__/output_page.cpython-39.pyc
Lung Cancer/bulk_test_results.csv
*.pdf
Heart Disease/bulk_test.py
*.png
*.jpeg
*.jpg
*.gif
*.webp
FinalProject_AUSWeather.ipynb
Lung Cancer/temp.py
Lung Cancer/temp_model.py
Projects-20240722T093004Z-001.zip
Projects/animal_classification.zip
Projects/ASL_detection.zip
Projects/forest_cover_prediction.zip
Projects/fraud_detection.zip
Projects/heart_disease.zip
Projects/liver_cirrhosis_stage.zip
Projects/lung_cancer.zip
Projects/mobile_phone_pricing.zip
Projects/thyroid_cancer.zip
Projects/vehicle_price_prediction.zip
Animal Classification/animal_classification.zip
Unified_Mentor_ML_Intern_Feedback.mp4
